<% layout('layouts/boilerplate') %>

<div class="mb-5" id="cluster-map"></div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- prettier-ignore -->
    <% for (let offer of page.data) { %>
        <%- include('../partials/offer-default', { offer, includeSelectForAuction: false }) %>
    <% } %>
  </div>

  <!-- prettier-ignore -->
  <%- include('../partials/pagination', { page, path: `/profile/${username}/offers` }) %>
</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const offers = {features: <%- JSON.stringify(page.data) %>};
</script>
<script src="<%= baseUrl %>/javascripts/clusterMap.js"></script>
