<!-- prettier-ignore -->
<%
if (page.totalPages > 1) {
  // Preserve any current query parameters except page.
  const preservedQuery = Object.keys(page.query).reduce((curr, key) => {
    if (page.query[key] !== undefined && key !== "page") {
      curr += `&${key}=${page.query[key]}`;
    }
    return curr;
  }, "");
%>
<ul class="pagination justify-content-center mt-4">
  <% if (page.currentPage == 1) { %>
  <li class="page-item disabled">
    <a class="page-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-double-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
        <path
          fill-rule="evenodd"
          d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
    </a>
  </li>
  <li class="page-item disabled">
    <a class="page-link"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
    </a>
  </li>
  <% } else { %>
  <li class="page-item">
    <a class="page-link" href="<%= path %>?page=1<%= preservedQuery %>"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-double-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
        <path
          fill-rule="evenodd"
          d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
    </a>
  </li>
  <li class="page-item">
    <a
      class="page-link"
      href="<%= path %>?page=<%= page.currentPage - 1 %><%= preservedQuery %>"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
    </a>
  </li>
  <% } %>
  <!--prettier-ignore -->
  <%
    const pageButtons = 8;
    const halfPageButtons = pageButtons / 2;
    const pagesRemaining = page.totalPages - page.currentPage;

    let startIdx, endIdx;
    if (page.currentPage <= halfPageButtons) {
      startIdx = 1;
      endIdx = Math.min(page.totalPages, startIdx + pageButtons);
    } else if (0 <= pagesRemaining && pagesRemaining <= halfPageButtons) {
      startIdx = Math.max(1, page.totalPages - pageButtons);
      endIdx = page.totalPages;
    } else {
      startIdx = Math.max(1, page.currentPage - halfPageButtons);
      endIdx = startIdx + pageButtons;
    }
    
    for (let i = startIdx; i <= endIdx; i++) {
  %>
  <% if (i == page.currentPage) { %>
  <li class="page-item active">
    <a class="page-link" href="<%= path %>?page=<%= i %><%= preservedQuery %>"
      ><%= i %></a
    >
  </li>
  <% } else { %>
  <li class="page-item">
    <a class="page-link" href="<%= path %>?page=<%= i %><%= preservedQuery %>"
      ><%= i %></a
    >
  </li>
  <!-- prettier-ignore -->
  <% } %>
  <% } %>
  <% if (page.currentPage == page.totalPages) { %>
  <li class="page-item disabled">
    <a class="page-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </a>
  </li>
  <li class="page-item disabled">
    <a class="page-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-double-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"
        />
        <path
          fill-rule="evenodd"
          d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </a>
  </li>
  <% } else { %>
  <li class="page-item">
    <a
      class="page-link"
      href="<%= path %>?page=<%= page.currentPage + 1 %><%= preservedQuery %>"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </a>
  </li>
  <li class="page-item">
    <a
      class="page-link"
      href="<%= path %>?page=<%= page.totalPages %><%= preservedQuery %>"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-chevron-double-right"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"
        />
        <path
          fill-rule="evenodd"
          d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </a>
  </li>
  <% } %>
</ul>
<% } %>
