<% layout('layouts/boilerplate') %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>
        <%= auction.payload.room_name.val[0] %>
        <span class="badge bg-danger fs-6 mt-3">ENDED</span>
      </h1>
      <p class="text-muted">
        Congratulations! The auction you have been participating in has ended.
      </p>
      <div class="pt-3">
        <h3>CONTRACTUAL AGREEMENT</h3>
        <p><%= contract.text %></p>
        <p>
          Buyer signature:
          <span class="badge rounded-pill bg-secondary">
            <%= contract.buyerSignature %>
          </span>
        </p>
        <p>
          Seller signature:
          <span class="badge rounded-pill bg-secondary">
            <%= contract.sellerSignature %>
          </span>
        </p>
      </div>
    </div>

    <div class="col-sm">
      <div class="border">
        <h2 class="text-center pt-2"><%= offer.title %></h2>
        <div class="">
          <% if (offer.images.length) {%>
          <img class="img-fluid" alt="" src="<%=offer.images[0].url%> " />
          <% }else { %>
          <img
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
          />
          <% } %>
        </div>

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row">Reference sector:</th>
              <td><%= offer.referenceSector %></td>
            </tr>
            <tr>
              <th scope="row">Reference type:</th>
              <td><%= offer.referenceType %></td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <h6>Description</h6>
          <p><%= offer.description %></p>
        </div>
      </div>

      <br />

      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Highest bidder:</th>
            <td>
              <a
                href="<%= baseUrl %>/profile/<%= auction.payload.highest_bidder.val[0] %>"
                ><%= auction.payload.highest_bidder.val[0] %></a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">Highest bid:</th>
            <td>€<%= auction.payload.highest_bid.val[0] %></td>
          </tr>
          <tr>
            <th scope="row">Auction created date:</th>
            <td><%= displayDate(auction.payload.created_at.val[0]) %></td>
          </tr>
          <tr>
            <th scope="row">Auction ended date:</th>
            <td><%= displayDate(auction.payload.closing_time.val[0]) %></td>
          </tr>
        </tbody>
      </table>
      <button
        type="button"
        class="btn btn-lg btn-primary"
        name="button"
        disabled
      >
        Get in contact
      </button>
    </div>
  </div>
  <br />
</div>
