<% layout('layouts/boilerplate') %>

<div class="container mt-3">
  <div class="row justify-content-between mb-3">
    <div class="d-flex gap-2">
      <h1><%= auction.name %></h1>
      <span class="badge bg-primary fs-6 my-3">
        <%= auction.auction_type %>
      </span>
      <% if (auction.closed) { %>
      <span class="badge bg-danger fs-6 my-3">CLOSED</span>
      <% } %>
    </div>

    <div class="col-4"></div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card mb-3">
        <a href="<%= baseUrl %>/offers/<%= offer._id %>">
          <% if (offer.images.length) {%>
          <img class="img-fluid" alt="" src="<%= offer.images[0].url %> " />
          <% } else { %>
          <img
            class="img-fluid"
            alt=""
            src="https://res.cloudinary.com/diq0t2bqj/image/upload/v1622925764/YelpCamp/kjhxxshjrdudgkoehoyl.jpg"
          />
          <% } %>
        </a>
        <div class="d-flex flex-row">
          <h2 class="my-3 mx-4">
            <a href="<%= baseUrl %>/offers/<%= offer._id %>">
              <%= offer.title %>
            </a>
          </h2>
          <span class="badge bg-success my-4"> <%= offer.costumer %> </span>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= offer.description %></li>
          <li class="list-group-item text-muted"><%= offer.location %></li>
        </ul>
      </div>

      <div class="mb-5">
        <a class="card-link btn btn-primary" href="<%= baseUrl %>/auctions">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-arrow-bar-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"
            />
          </svg>
          <span>All auctions</span>
        </a>
      </div>
    </div>

    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between">
          <h6>
            <a href="<%= baseUrl %>/profile/<%= auction.created_by %>">
              <%= auction.created_by %>
            </a>
          </h6>
          <span class="text-muted">Created by</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.reference_sector %></h6>
          <span class="text-muted">Reference sector</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.reference_type %></h6>
          <span class="text-muted">Reference type</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.quantity %> <%= auction.unit %></h6>
          <span class="text-muted">Quantity</span>
        </li>
        <% if (auction.highest_bidder) { %>
        <li class="list-group-item d-flex justify-content-between">
          <h6>
            <a href="<%= baseUrl %>/profile/<%= auction.highest_bidder %>">
              <%= auction.highest_bidder %>
            </a>
          </h6>
          <span class="text-muted">Highest bidder</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <h6><%= auction.highest_bid %></h6>
          <span class="text-muted">Highest bid</span>
        </li>
        <% } %>
      </ul>

      <div class="mt-3">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between">
            <h6><%= displayDate(auction.closing_time) %></h6>
            <span class="text-muted">Closing time</span>
          </li>
          <li class="list-group-item">
            <div class="row justify-content-between">
              <div class="col-3 text-center">
                <h6 id="remaining-days" class="mb-2">0</h6>
                <span class="text-muted">Days</span>
              </div>
              <div class="col-3 text-center">
                <h6 id="remaining-hours" class="mb-2">0</h6>
                <span class="text-muted">Hours</span>
              </div>
              <div class="col-3 text-center">
                <h6 id="remaining-minutes" class="mb-2">0</h6>
                <span class="text-muted">Minutes</span>
              </div>
              <div class="col-3 text-center">
                <h6 id="remaining-seconds" class="mb-2">0</h6>
                <span class="text-muted">Seconds</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <% if (!isCreator && !auction.closed) { %> <% if (userParticipates) { %>
      <form
        class="w-100 input-group mt-2"
        method="POST"
        action="<%= baseUrl %>/auctions/<%= auction._id %>"
      >
        <span class="input-group-text">€</span>
        <input
          id="bid"
          name="bid"
          required
          type="text"
          class="form-control"
          aria-label="bid"
          placeholder="0.00"
        />
        <button type="submit" class="input-group-text btn-primary">
          Place bid
        </button>
      </form>
      <% } else { %>
      <h4 class="mt-4">Join or represent</h4>
      <div class="col-sm-6 mt-2 w-100">
        <% if (currentUser.role == "broker") { %>
        <div class="mb-3">
          <form
            class="w-100"
            method="POST"
            action="<%= baseUrl %>/auctions/<%= auction._id %>/join"
          >
            <!-- <input type="hidden" name="_csrf" value="" /> -->
            <select
              id="brokerId"
              class="form-select"
              aria-label="select with button addon"
              name="brokerId"
              value=""
              required
            >
              <% for (const represent of broker.joinAs) { %>
              <option value="<%= represent.brokerId %>">
                <%= represent.username %>
              </option>
              <% } %>
            </select>
            <div class="input-group mt-2">
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                placeholder="Location"
                required
              />
              <button type="submit" class="input-group-text btn-primary">
                Join Auction
              </button>
            </div>
          </form>
          <div id="closingTimeHelpBlock" class="form-text px-1">
            Join as a new user in the auction
          </div>
        </div>
        <% if (broker.canRepresent.length > 0) { %>
        <form
          class="w-100 input-group mt-2"
          method="POST"
          action="<%= baseUrl %>/auctions/<%= auction._id %>/represent"
        >
          <select
            id="brokerId"
            class="form-select"
            aria-label="select with button addon"
            name="brokerId"
            value=""
            required
          >
            <% for (const represent of broker.canRepresent) { %>
            <option value="<%= represent.agreementId %>">
              <%= represent.username %>
            </option>
            <% } %>
          </select>
          <button type="submit" class="input-group-text btn-primary">
            Represent
          </button>
        </form>
        <div id="closingTimeHelpBlock" class="form-text px-1">
          Represent an existing user in the auction
        </div>
        <% } %> <% } else { %>
        <form
          class="w-100 input-group"
          method="POST"
          action="<%= baseUrl %>/auctions/<%= auction._id %>/join"
        >
          <!-- <input type="hidden" name="_csrf" value="" /> -->
          <input type="hidden" id="brokerId" name="brokerId" value="" />
          <input
            type="text"
            class="form-control"
            id="location"
            name="location"
            placeholder="Location"
            required
          />
          <button type="submit" class="input-group-text btn-primary">
            Join Auction
          </button>
        </form>
        <% } %>
      </div>
      <% } %> <% } %>

      <h4 class="mt-4">Bids by all members</h4>

      <div class="card">
        <% if (auction.bids.length == 0) { %>
        <p class="pt-3 px-3">No bids have been placed yet</p>
        <% } else { %>
        <table class="table">
          <thead>
            <td>User</td>
            <td>Date</td>
            <td>Distance</td>
            <td>Bid</td>
          </thead>
          <% for (let bid of auction.bids) { %>
          <tbody>
            <td><%= bid.sender %></td>
            <td><%= displayDate(bid.created_at) %></td>
            <td><%= Math.round(parseInt(bid.distance)) %> km</td>
            <td>€<%= bid.text %></td>
          </tbody>
          <% } %>
        </table>
        <% } %>
      </div>
    </div>
  </div>

  <% if (auction.contract) { %>
  <div class="mt-5 mb-5 p-3"><%- auction.contract %></div>
  <% } %>
</div>

<script>
  const closingTime = new Date("<%= auction.closingTime.toString() %>");

  const getSplitClosingTime = (closingTime) => {
    let diff = closingTime.getTime() - Date.now();

    const SECOND = 1000;
    const MINUTE = 60 * SECOND;
    const HOUR = 60 * MINUTE;
    const DAY = 24 * HOUR;

    const days = Math.max(0, Math.floor(diff / DAY));
    diff -= days * DAY;
    const hours = Math.max(0, Math.floor(diff / HOUR));
    diff -= hours * HOUR;
    const minutes = Math.max(0, Math.floor(diff / MINUTE));
    diff -= minutes * MINUTE;
    const seconds = Math.max(0, Math.floor(diff / SECOND));

    return { days, hours, minutes, seconds };
  };

  const daySelector = document.getElementById("remaining-days");
  const hourSelector = document.getElementById("remaining-hours");
  const minuteSelector = document.getElementById("remaining-minutes");
  const secondSelector = document.getElementById("remaining-seconds");
  const updateClosingTime = () => {
    const time = getSplitClosingTime(closingTime);
    daySelector.innerHTML = time.days;
    hourSelector.innerHTML = time.hours;
    minuteSelector.innerHTML = time.minutes;
    secondSelector.innerHTML = time.seconds;
  };
  updateClosingTime();

  setInterval(() => {
    updateClosingTime();
  }, 1000);
</script>
