<% layout('layouts/boilerplate') %>

<!-- <div class="mb-4">
    <h1 class="text-center text-white bg-primary bg-gradient rounded-pill ">All Offers </h1>
</div> -->
<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg> -->

<form id="search-box">
  <div class="input-group mb-4">
    <input
      type="text"
      class="search-by-name form-control"
      id="searchBar"
      name="name"
      placeholder="Search Offers by Name"
    />
    <button class="search-btn btn btn-primary" type="submit">Search</button>
  </div>
</form>

<div class="mb-5" id="cluster-map"></div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- prettier-ignore -->
    <% for (let offer of page.data) { %>
        <%- include('../partials/offer-default', { offer, includeSelectForAuction: false }) %>
    <% } %>
  </div>
</div>

<!-- prettier-ignore -->
<%- include('../partials/pagination', { page, path: "/offers" }) %>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const offers = {features: <%- JSON.stringify(page.data) %>};
</script>
<script src="<%= baseUrl %>/javascripts/clusterMap.js"></script>
<script src="<%= baseUrl %>/javascripts/searchBar.js"></script>
